@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700|Zilla+Slab+Highlight:400,700");
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
html, body {
  height: 100%;
  width: 100%; }

.navbar {
  padding: 0 1rem; }
  .navbar .navbar-nav .nav-link {
    text-align: center;
    margin: 0.2rem 0; }
    .navbar .navbar-nav .nav-link.active {
      font-weight: 500; }
    .navbar .navbar-nav .nav-link:hover, .navbar .navbar-nav .nav-link:focus {
      color: #ffc107;
      background-color: #000000;
      border-radius: 5px; }

#main-content {
  min-height: calc(100% - 168px); }

.footer-container {
  background-color: #ffc107; }

.footer-social div ul {
  margin: 0px; }

.social-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding-top: 1rem; }

.footer-social .social-links li a {
  padding: 0 10px; }

.footer-social .social-links li a i {
  width: 40px;
  height: 40px;
  padding: 12px 0;
  border-radius: 50%;
  font-size: 1.25rem;
  line-height: 1rem;
  text-align: center;
  color: #fafafa;
  position: relative;
  background-color: #000000;
  color: #ffc107;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out; }

.footer-social .social-links li a i:hover {
  background: #790712;
  color: #ffc107; }

.footer-copyright {
  padding-bottom: 1rem;
  color: #790712; }

footer a {
  color: #000000; }

/*   scoreboard */
.scoreboard {
  width: 18.75rem;
  height: 28.125rem;
  background-color: #000000;
  color: #eeff00;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1;
  border-radius: 10px;
  white-space: nowrap;
  padding: 5px 20px 20px 20px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  border: 5px double yellow; }
  .scoreboard h3 {
    text-decoration: underline;
    text-align: center; }
  .scoreboard p {
    text-align: center;
    font-size: medium; }
  .scoreboard .score {
    padding-left: 70px; }
  .scoreboard .verdict {
    border-style: double;
    height: 200px;
    border-radius: 10px;
    padding: 8px 8px 20px 8px;
    text-align: center;
    width: 250px;
    white-space: normal;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between; }
    .scoreboard .verdict p {
      margin-bottom: 0;
      font-size: 55px;
      font-weight: bold; }
    .scoreboard .verdict .pCounter {
      font-size: 120px; }

/*   house */
.house {
  background-image: url(../img/theming/carpet.png);
  background-repeat: repeat;
  background-size: cover;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column;
  padding: 20px;
  border-radius: 10px;
  border: 5px double black;
  margin-left: 10px; }
  .house .house_counter {
    background: black;
    color: yellow;
    margin: 0 5px;
    border-radius: 5px;
    border: 3px solid black;
    width: 100px;
    text-align: center; }
    .house .house_counter p {
      margin-bottom: 0;
      font-size: 60px;
      font-weight: bold;
      text-auto: center; }

#house {
  position: relative; }
  #house .house_banner {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 10;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.7); }
    #house .house_banner p {
      font-size: 120px;
      font-weight: 700;
      color: #ffc107;
      padding: 0px;
      margin: 0px; }

/*   house */
.player {
  margin: 10px auto;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-image: url(../img/theming/carpet.png);
  background-repeat: repeat;
  background-size: cover;
  border-radius: 10px;
  border: 5px black solid; }

.player_banner {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 10;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7); }
  .player_banner p {
    font-size: 120px;
    font-weight: 700;
    color: #ffc107;
    padding: 0px;
    margin: 0px; }

.deck_player img {
  margin: 5px 0px;
  width: 150px; }

.player_selections {
  margin: 20px 0; }
  .player_selections .btn {
    padding: 0 !important; }
  .player_selections .console {
    display: flex; }
    .player_selections .console .mini_counter {
      background: black;
      color: yellow;
      width: 60px;
      margin: 0 5px;
      border-radius: 5px;
      border: 3px solid black; }
      .player_selections .console .mini_counter p {
        margin-bottom: 0;
        font-size: 30px;
        font-weight: bold; }

.results {
  width: 50rem;
  height: 17.5rem;
  background-color: #000000;
  color: #eeff00;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1;
  border-radius: 10px;
  white-space: nowrap;
  padding: 5px 20px 20px 20px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  border: 5px double yellow;
  margin: 0px auto;
  padding: 20px; }
  .results .results-right {
    align-self: center;
    border: 5px dotted yellow;
    border-radius: 10px;
    padding: 35px; }
    .results .results-right p {
      font-size: 70px; }
  .results h3 {
    text-decoration: underline;
    text-align: center; }
  .results p {
    text-align: center;
    font-size: medium; }
  .results table {
    width: 140px; }

@media screen and (max-height: 650px) {
  /*   welcome message */
  .welcome {
    display: none; }

  /*   scoreboard */
  .scoreboard {
    width: 540px;
    height: 226px;
    align-items: flex-start;
    flex-flow: row nowrap; }

  /*   house */
  .house .house_counter {
    width: 50px; }
    .house .house_counter p {
      margin-bottom: 0;
      font-size: 25px;
      font-weight: bold;
      text-auto: center; }
  .house img {
    width: 70px; }

  #house .house_banner {
    background-color: rgba(0, 0, 0, 0.4); }
    #house .house_banner p {
      font-size: 70px; } }
.intro {
  display: flex;
  align-items: flex-start; }
  .intro img {
    padding: 0 20px; }

.wrapper {
  display: flex;
  justify-content: space-between; }

.wrapper-index {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  justify-content: center;
  height: calc(100vh - 56px);
  background-image: url(../img/theming/bj.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; }
  .wrapper-index a {
    font-size: 25px;
    align-self: center;
    color: #ffc107; }
  @media screen and (max-width: 500px) {
    .wrapper-index {
      background-image: url(../img/theming/bj-sm.jpg); } }

.index-div {
  width: 100%;
  min-height: 700px;
  display: flex;
  flex-flow: column nowrap;
  padding: 10px 30px; }
  .index-div h2 {
    font-size: 60px; }
  .index-div h3 {
    text-align: center; }
  .index-div p {
    text-align: justify;
    text-justify: inter-word;
    font-size: 20px; }

.index-2 {
  background-color: #800000;
  color: white; }

.index-3 {
  background-image: url(../img/theming/bj2.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px; }
  @media screen and (max-width: 500px) {
    .index-3 {
      background-image: url(../img/theming/bj2-sm.jpg); } }

.index-4 {
  background-color: #ff6600; }

form {
  text-align: center; }
  form.index {
    align-self: center;
    background-color: rgba(128, 0, 0, 0.9);
    padding: 10px;
    border-radius: 10px;
    color: #ffc107;
    font-weight: 500;
    width: 420px;
    -webkit-box-shadow: 2px 6px 42px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 6px 42px 3px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 6px 42px 3px rgba(0, 0, 0, 0.75); }
    form.index .select-input {
      width: 50px; }
    form.index .select-round {
      width: 55px; }
    form.index input[type="text"] {
      width: 90px; }
    form.index input[type="submit"] {
      width: 200px; }
    @media screen and (max-width: 500px) {
      form.index {
        width: 200px; }
        form.index label {
          margin-left: 20px !important; }
        form.index input[type="submit"] {
          width: 150px; }
        form.index #extras {
          flex-flow: column nowrap;
          align-items: flex-end; }
          form.index #extras label {
            margin-right: 30px; } }

.wrapper-game {
  padding: 0.625rem 1.25rem; }
  .wrapper-game .player_selections {
    display: flex;
    justify-content: space-between; }
  @media screen and (min-height: 1300px) {
    .wrapper-game {
      height: calc(100vh - 194px); } }

#reset,
#reset_winner,
#next {
  width: 200px; }

.console-btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border: 3px solid #000000;
  border-radius: 5px;
  color: #000000;
  text-decoration: none;
  -webkit-box-shadow: #000000 0px 0px 18px 0px;
  -moz-box-shadow: #000000 0px 0px 18px 0px;
  box-shadow: #000000 0px 0px 18px 0px;
  text-shadow: #0a0101 0px 0px 1px;
  font: normal normal bold 22px verdana;
  background: #fad900;
  background: -webkit-gradient(linear, left top, left bottom, from(#fad900), to(#f5a316));
  background: -moz-linear-gradient(top, #fad900, #f5a316);
  background: linear-gradient(to bottom, #fad900, #f5a316);
  width: 100px; }
  .console-btn:hover, .console-btn:focus {
    background: #ffff00;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffff00), to(#ffc41a));
    background: -moz-linear-gradient(top, #ffff00, #ffc41a);
    background: linear-gradient(to bottom, #ffff00, #ffc41a);
    color: #000000;
    text-decoration: none; }

.console-btn-next {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border: 3px solid #000000;
  border-radius: 5px;
  color: #000000;
  text-decoration: none;
  -webkit-box-shadow: #000000 0px 0px 18px 0px;
  -moz-box-shadow: #000000 0px 0px 18px 0px;
  box-shadow: #000000 0px 0px 18px 0px;
  text-shadow: #0a0101 0px 0px 1px;
  font: normal normal bold 22px verdana;
  background: #0cf52f;
  background: -webkit-gradient(linear, left top, left bottom, from(#0cf52f), to(#096109));
  background: -moz-linear-gradient(top, #0cf52f, #096109);
  background: linear-gradient(to bottom, #0cf52f, #096109); }
  .console-btn-next:hover, .console-btn-next:focus {
    background: #0eff38;
    background: -webkit-gradient(linear, left top, left bottom, from(#0eff38), to(#0b740b));
    background: -moz-linear-gradient(top, #0eff38, #0b740b);
    background: linear-gradient(to bottom, #0eff38, #0b740b);
    color: #000000;
    text-decoration: none; }
  .console-btn-next:active {
    background: #07931c;
    background: -webkit-gradient(linear, left top, left bottom, from(#07931c), to(#096109));
    background: -moz-linear-gradient(top, #07931c, #096109);
    background: linear-gradient(to bottom, #07931c, #096109); }

.wrapper-winner {
  padding: 1.25rem 6.25rem;
  min-height: calc(100vh - 168px);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between; }

/*# sourceMappingURL=main.css.map */
