@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700|Zilla+Slab+Highlight:400,700");
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
html, body {
  height: 100%;
  width: 100%; }

nav {
  height: 3.125rem;
  background-color: #ffc107;
  padding: 0px !important; }
  nav .navbar-brand {
    padding-left: 20px; }
  nav h2,
  nav .nav-items {
    color: #000000 !important; }
  nav .nav-items {
    display: flex;
    flex-direction: row; }
    nav .nav-items a {
      color: #000000; }
      nav .nav-items a:hover {
        color: #ffc107;
        font-weight: bold;
        background-color: #000000;
        border-radius: 10px; }

#main-content {
  min-height: calc(100% - 168px); }

.footer-container {
  background-color: #ffc107; }

.footer-social div ul {
  margin: 0px; }

.social-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding-top: 1rem; }

.footer-social .social-links li a {
  padding: 0 10px; }

.footer-social .social-links li a i {
  width: 40px;
  height: 40px;
  padding: 12px 0;
  border-radius: 50%;
  font-size: 1.25rem;
  line-height: 1rem;
  text-align: center;
  color: #fafafa;
  position: relative;
  background-color: #000000;
  color: #ffc107;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out; }

.footer-social .social-links li a i:hover {
  background: #790712;
  color: #ffc107; }

.footer-copyright {
  padding-bottom: 1rem;
  color: #790712; }

footer a {
  color: #000000; }

.intro {
  display: flex;
  align-items: flex-start; }
  .intro img {
    padding: 0 20px; }

.wrapper {
  display: flex;
  justify-content: space-between; }

.wrapper-index {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  justify-content: center;
  height: calc(100vh - 50px);
  background-image: url(../img/theming/bj.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; }
  .wrapper-index a {
    font-size: 25px;
    align-self: center;
    color: #ffc107; }

.index-div {
  width: 100%;
  min-height: 700px;
  display: flex;
  flex-flow: column nowrap;
  padding: 10px 30px; }
  .index-div h2 {
    font-size: 60px; }
  .index-div h3 {
    text-align: center; }
  .index-div p {
    text-align: justify;
    text-justify: inter-word;
    font-size: 20px; }

.index-2 {
  background-color: #800000;
  color: white; }

.index-3 {
  background-image: url(../img/theming/bj2.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px; }

.index-4 {
  background-color: #ff6600; }

form {
  text-align: center; }
  form.index {
    align-self: center;
    background-color: rgba(128, 0, 0, 0.9);
    padding: 10px;
    border-radius: 10px;
    color: #ffc107;
    font-weight: 500;
    width: 420px;
    -webkit-box-shadow: 2px 6px 42px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 6px 42px 3px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 6px 42px 3px rgba(0, 0, 0, 0.75); }
    form.index .select-input {
      width: 50px; }
    form.index .select-round {
      width: 55px; }
    form.index input[type="text"] {
      width: 90px; }
    form.index input[type="submit"] {
      width: 200px; }
    @media screen and (max-width: 500px) {
      form.index {
        width: 200px; }
        form.index label {
          margin-left: 20px !important; }
        form.index input[type="submit"] {
          width: 150px; }
        form.index #extras {
          flex-flow: column nowrap;
          align-items: flex-end; }
          form.index #extras label {
            margin-right: 30px; } }

.player_selections {
  margin: 20px 0; }

.jumbotron-fluid {
  background-image: url(../img/theming/blackjack.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  height: calc(100vh - 168px);
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  justify-content: center; }

.console {
  background-color: black;
  width: 230px;
  height: 250px;
  color: yellow;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5%;
  line-height: 1.0;
  text-align: left;
  white-space: nowrap;
  padding: 10px 20px 20px 20px; }
  .console h3 {
    text-decoration: underline;
    text-align: center; }
  .console p {
    text-align: center;
    font-size: medium; }
  .console .score {
    padding-left: 70px; }

/*# sourceMappingURL=main.css.map */
