{% extends "base.html" %} 
{% block title %} {{ usernames[seq].title() }} playing ... {% endblock %}


{% block content %}
<div class="wrapper-game">

    <h1 class="text-center mt-3 mb-4">Welcome to the game, {{ usernames[seq].title() }}!</h1>
    <div class="wrapper">
        <section>
            <div class="scoreboard">
                <div>
                    <h3>Scoreboard</h3>
                    <p>Round: &nbsp &nbsp {{ rounds["played"] }}/{{ rounds["total"] }}</p>
                    <table>
                        <!--  pulling the names out of the original list rather than the 
                        score dictionary to keep the order the same - an OrderedDict could be used for score dictionary
                        but it's unnecessary as the there's already an ordered list with the data-->
                        {% for username in usernames %}
                        <tr>
                            {% if username == usernames[seq] %}
                                <td> &#8680; &nbsp</td>
                            {% else %}
                                <td> &nbsp &nbsp</td>
                            {% endif %}
                            <td>{{ username.title() }}:</td>
                            <td class="score">{{ scores[username] }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="verdict">
                    <h4> {{ usernames[seq].title() }} playing</h4>
                    {% if verdict == "PLAYER" %}
                        <p>{{ usernames[seq].title()  }} WINS!</p>
                    {% elif verdict == "HOUSE" %}
                        <p>{{ verdict  }} WINS!</p>
                    {% elif verdict == "PUSH" %}
                        <p>{{ verdict  }}!</p>
                    {% else %}
                        <p class="pCounter">{{ player["value"][0] }}</p>
                    {% endif %}
                </div>
                
            </div>
        </section>
        
        <section>
            <div class="house" id="house" data-house="{{ house|tojson }}">
                <p>Count: {{ house["value"] }} {{ verdict  }}</p>
                {% for card in house["hand"] %}
                <img src="../static/img/cards/{{ card }}" width="150" alt="{{ card }}"></img>
                {% endfor %}
            </div>
        </section>
    </div>
    <div>
        <section class="player">
            {% if player["value"][1] == "BUST" %}
                <div class="player_banner"><p>BUST</p></div>
            {% elif verdict == "PLAYER" %}
                <div class="player_banner"><p>WINNER!</p></div>
            {% elif verdict == "HOUSE" %}
                <div class="player_banner"><p>LOST!</p></div>
            {% elif verdict == "PUSH" %}
                <div class="player_banner"><p>PUSH!</p></div>
            {% endif %}
            <div class="deck_player">
                {% for card in player["hand"] %}
                <img src="../static/img/cards/{{ card }}" alt="{{ card }}"></img>
                {% endfor %}
            </div>
        </section>
    </div>
    
    <form method="POST" class="player_selections">
        <input type="submit" class="console-btn" id="reset" name="reset" value="RESET GAME">
        <div class="console">
            <input type="submit" class="console-btn btn" id="stand" name="stand" value="STAND">
            <div class="mini_counter">
                <p>{{ player["value"][0] }}</p>
            </div> 
            <input type="submit" class="console-btn btn" id="hit" name="hit" value="HIT">
        </div>
        <input type="submit" class="console-btn-next" id="next" name="next" value="NEXT PLAYER">
    </form>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/game.js') }}"></script>
<script>
    
    // converting template variables to javascript variables
    var game_verdict = {{ verdict|tojson }};
    var player_verdict = {{ player["value"][1]|tojson }};
    var player_count = {{ player["value"][0]|tojson }};

    // disbale "HIT" and "STAND" if a verdict was passed
    // if a verdict was passed Enable/Display "NEXT PLAYER" button 
    if (game_verdict !== "UNDECIDED") { 
        $("#hit").prop('disabled', true);
        $("#stand").prop('disabled', true);
        $('#next').removeAttr('disabled');
    } else {
        $('#hit').removeAttr('disabled');
        $('#stand').removeAttr('disabled');
        $("#next").prop('disabled', true);
        $("#next").css('visibility', 'hidden')
    }
    
    // guidance - user has blackjack, no need to hit!
    if (player_verdict === "BLACKJACK") {
        $(".mini_counter").css("background-color", "green")
        $(".mini_counter").css("border", "3px solid #000000")
        $(".mini_counter").css("border-radius", "5px")
        $(".mini_counter > p").css("color", "black")
    }
    
    // guidance - hand is good enough to "STAND"
    if (player_count <= 21 && player_count > 17) {
        $("#stand").addClass("console-btn-next")
    }
    
    
</script>


{% endblock %}