{% extends "base.html" %} 
{% block title %} Game levels {% endblock %}


{% block content %}
<div class="container">
    <h1>welcome to the game, {{ usernames[seq].title() }}!</h1>
    <div class="wrapper">
        <section>
            <div class="console">
                <h3>Scoreboard</h3>

                <p>Round: &nbsp &nbsp {{ rounds["played"] }}/{{ rounds["total"] }}</p>
                <table>
                    <!--  pulling the names out of the original list rather than the 
                    score dictionary to keep the order the same - an OrderedDict could be used for score dictionary
                    but it's unnecessary as the there's already an ordered list with the data-->
                    {% for username in usernames %}
                    <tr>
                        <td>{{ username.title() }}:</td>
                        <td class="score">{{ scores[username] }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </section>
        
        <section>
            <div class="house" id="house" data-house="{{ house|tojson }}">
                <p>Count: {{ house["value"] }}  outcome= {{ verdict }}</p>
                <p>show cards =  {{ house["house_plays"] }}</p>
                {% for card in house["hand"] %}
                <img src="../static/img/cards/{{ card }}" width="200" alt="{{ card }}"></img>
                {% endfor %}
            </div>
        </section>
    </div>
    <div>
        <section>
            <h3> {{ usernames[seq].title() }} playing</h3>
            <div class="player">
                <p>Count: {{ player["value"] }}</p>
                {% for card in player["hand"] %}
                <img src="../static/img/cards/{{ card }}" width="200" alt="{{ card }}"></img>
                {% endfor %}
            </div>
        </section>
    </div>
    
    <form method="POST" class="player_selections">
        <input type="submit" class="btn btn-warning" id="hit" name="hit" value="HIT">
        <input type="submit" class="btn btn-warning" id="stand" name="stand" value="STAND">
        <input type="submit" class="btn btn-warning" id="reset" name="reset" value="reset game!">
        <input type="submit" class="btn btn-success btn-lg" id="next" name="next" value="next player">
    </form>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/game.js') }}"></script>
<script>
    // var house_dict = {{ house|tojson }};

    var game_verdict = {{ verdict|tojson }};
    console.log("game_verdict = ", game_verdict)

    if (game_verdict !== "UNDECIDED") { 
        console.log("BUST")
        $("#hit").prop('disabled', true);
        $("#stand").prop('disabled', true);
        $('#next').removeAttr('disabled');

    } else {
        console.log("not BUST yet!")
        $('#hit').removeAttr('disabled');
        $('#stand').removeAttr('disabled');
        $("#next").prop('disabled', true);
        $('#next').css("background-color", "grey");
        // $('#next').css("color", "grey");
    }

</script>


{% endblock %}