{% extends "base.html" %} {% block title %} Winner Page {% endblock %} {% block content %}
<div class="wrapper-winner">
    <section class="results">
        <div class="results-left">
            <div>
                <h3>Scoreboard</h3>
                <p>Round: &nbsp &nbsp {{ rounds["played"] }}/{{ rounds["total"] }}</p>
            </div>
            <table>
                {% for username in usernames %}
                <tr>
                    <td>{{ username.title() }}:</td>
                    <td class="score">{{ scores[username] }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="results-right">
            {% if winner == "house" %}
            <p>HOUSE WON</p>
            {% elif "and" in winner %}
            <p>NO WINNERS</p>
            {% else %}
            <p>{{ winner.title() }} WON</p>
            {% endif %}
        </div>
    </section>
    <section class="py-4">
        <div class="py-3">
            <p>{{ rounds["total"] }} rounds were played in total by {{usernames|length}} players.</p>
            {% if winner == "house" %}
            <h5> {{ winner.title() }} has beaten all the players.</h5>
            {% elif "and" in winner %}
            <h5>No winners were appointed since {{ winner }} have scored the same highest point.</h5>
            {% else %}
            <h5>{{ winner.title() }} has won the game with the score of {{ scores[winner] }}.</h5>
            {% endif %}
        </div>
        <div class="py-4">
            <h5>Winning Scenarios</h5>
            <ul>
                <li>HOUSE WON</li>
                <ul>
                    <li>None of the players scored any points.</li>
                </ul>
                <li>PLAYER WON</li>
                <ul>
                    <li>A player managed to scores the heighest point.</li>
                </ul>
                <li>NO WINNERS</li>
                <ul>
                    <li>More than one player managed to achieved the highest point.</li>
                </ul>
            </ul>
        </div>
    </section>
    <form method="POST">
        <input type="submit" class="console-btn" id="reset_winner" name="reset" value="PLAY AGAIN">
    </form>
</div>
{% endblock %}
