html, body {
    height: 100%;
    width: 100%;
}

// -------------------------------------------------------- Nav

nav {
    height: pix2Rem(50);
    background-color: map-get($color, mustard);
    
    padding: 0px !important;  // needed to resolve a bug persistent bug on firefox and edge.
    
    .navbar-brand {
        padding-left: 20px;
    }

    h2,
    .nav-items {
        color: map-get($color, black) !important;
    }

    .nav-items {
        display: flex;
        flex-direction: row;

        a {
            color: map-get($color, black);
            // font-weight: bold;
            &:hover {
                color: map-get($color, mustard);
                font-weight: bold;
                background-color: map-get($color, black);
                border-radius: 10px;
            }
        }
    }
}


#main-content {
    min-height: calc(100% - 168px);
}

// -------------------------------------------------------- Footer
.footer-container {
    background-color: map-get($color, mustard);
}

.footer-social div ul {
    margin: 0px;
}


.social-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

.footer-social .social-links li a {
    padding: 0 10px;
}

.footer-social .social-links li a i {
    width: 40px;
    height: 40px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 1.25rem;
    line-height: 1rem;
    text-align: center;
    color: #fafafa;
    position: relative;
    background-color: map-get($color, black);
    color: map-get($color, mustard);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.footer-social .social-links li a i:hover {
    background: map-get($color, red2);
    color: map-get($color, mustard);
}

.footer-copyright {
    padding-bottom: 1rem;
    color: map-get($color, red2);
}

footer a {
    color: map-get($color, black);
}


