@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700|Zilla+Slab+Highlight:400,700');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import "colors";
@import "layout";



.intro {
    display: flex;
    align-items: flex-start;
    img {
        padding: 0 20px;
    }
}

.wrapper {
    display: flex;
    justify-content: space-between;
}



form {
    text-align: center; // targeting the form within index.html
    &.index {
        align-self: center;
        background-color: map-get($color, red2);
        padding: 10px;
        border-radius: 20px;
        color: map-get($color, mustard);
        font-weight: 500;
        width: 420px;
        
        // reduce the size of select input
        .select-input {
            width: 50px;
        } 
        
        // target all inputs with type text
        input[type="text"] {
            width: 90px;
        }
    }
}


.player_selections {
    margin: 20px 0;
}

.jumbotron-fluid {
    background-image: url(../img/theming/blackjack.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: map-get($color, white); // margin: 0;
    height: calc(100vh - 168px);
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    justify-content: center;
}



.console {
    background-color: black;
    width: 230px;
    height: 250px;
    color: yellow;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5%;
    line-height: 1.0;
    text-align: left;
    white-space: nowrap;
    padding: 10px 20px 20px 20px;

    h3 {
        text-decoration: underline;
        text-align: center;
    }

    p {
        text-align: center;
        font-size: medium;
    }

    .score {
        padding-left: 70px;
    }

}
