@include mQ("maxH", 650px) {


    /*   welcome message */
    .welcome {
        display: none;
    }

    /*   scoreboard */
    .scoreboard {
        width: 540px;
        height: 226px;
        align-items: flex-start;
        flex-flow: row nowrap;
    }

    /*   house */
    .house {
        
        .house_counter {
            width: 50px;
            p {
                margin-bottom: 0;
                font-size: 25px;
                font-weight: bold;
                text-auto: center;
            }
        }

        img {
            width: 70px;
        }
    }


    #house {

        .house_banner {
             background-color: rgba(0, 0, 0, 0.4);
            p {
                font-size: 70px;
            }
        }

    }






}
